<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="icon" href="./images/url_icon.png">
        <title>about</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="robo" src="./images/Robo.jpg">
            <p>{{name}} is a Software Engineer.</p>

        </div>

        {{>footer}}
    </body>
</html>